
body {
    background-color: #110c23;

}

h1 {
  color: #110c23;
  font-size: 10vw;
  text-align:center;
  font-family:  monospace;
  
}

p {
    color: rgb(187, 120, 19);
    font-size: 5vw;
    font-family: monospace;   
    text-align:center;
    margin-top: 50px;
    
}
#upper {
    background-color:rgb(187, 120, 19);
    padding: 3%;
    
}
